body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color: white;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}
#nav-list{
    margin-top: 25px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 250px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #bd451d;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 50px;
    margin: 30px;
    
    
}
.svg{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.phone-number{
    font-size: 23px;
    margin-left: 10px;
   
}


.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

 a:hover{

    cursor: pointer;
}

.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 250px;
    height: 150px;
    border-radius: 200px;
    
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}





/* Skills  */
.skills {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  .skills h2 {
    margin-bottom: 40px;
  }
  .skill-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .skill {
    width: calc(33.33% - 20px);
    text-align: center;
  }
  .skill-name {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .progress-bar {
    background: #f0f0f0;
    height: 15px;
    border-radius: 5px;
    overflow: hidden;
  }
  .progress {
    position: relative;
    height: 100%;
  }
  .progress-label {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(10%, -50%);
    color: #0e0d0d;
    font-size: 12px;
    font-weight: bold;
  }
 

/*Skills End  */

/* Footer  */
footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  a {
    color: #b6adad;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.2s ease-in-out;
  }
  
  a:hover {
    color: #1E90FF;
    transform: scale(1.2);
  }
  
  .fab {
    font-size: inherit;
  }
  /* Fotter ends */


  /*  */
  
  
  
  
  /* modal */
  .modal {
    display: none;
    width: 80vw;
    height: 330vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 9999;
    overflow: scroll;
  }
  .images {
    background-color: cadetblue;
    width: 80vw;
    height: 330vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow:scroll; */
  }

  #modal-btn {
    width: 80vw;
    height: 10vh;
    border: 1px solid black;
    background-color: rgb(14, 4, 1);
    border-radius: 20px;
    font-size: 20px;
    color: #f0f0f0;
  }


  .pic {
    height: 80vh;
    width: 80vw;
  }

  #modal-btn:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
    background-color: rgb(143, 48, 14);
  }

  
/*  */

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0ppx;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    }
}
